<h3> Votre validation de swap a bien été prise en compte !</h3>

Bonjour {{ owner.getUsername }} !

Votre validation de swap pour le jeu {{ ownerGame.getName }} en échange de votre jeu {{ selected_game.getName }} avec {{owner.getUsername}} a été validée.

Merci!

<img src="{{ absolute_url(asset('build/swapit-logo-svg.png')) }}">