<h3>Votre demande de swap a été refusée !</h3>

Bonjour {{ user.getUsername }} !

Votre demande de swap pour le jeu {{ ownerGame.getName }} en échange de votre jeu {{ selected_game.getName }} avec {{owner.getUsername}} a été refusée.

Merci!

<img src="{{ absolute_url(asset('build/swapit-logo-svg.png')) }}">