<h3>Votre demande de swap a bien été acceptée ! !</h3>

Bonjour {{ user.getUsername }} !

Votre confirmation de swap pour le jeu {{ ownerGame.getName }} en échange de votre jeu {{ selected_game.getName }} a été validée par {{owner.getUsername}}.

Merci!

<img src="{{ absolute_url(asset('build/swapit-logo-svg.png')) }}">