<h3>Votre refus de swap a bien été pris en compte ! !</h3>

Bonjour {{ owner.getUsername }} !

Votre refus de swap pour le jeu {{ ownerGame.getName }} en échange de votre jeu {{ selected_game.getName }} avec {{owner.getUsername}} a été pris en compte.

Merci!

<img src="{{ absolute_url(asset('build/swapit-logo-svg.png')) }}">